[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
ConditionFileIsExecutable=/opt/bin/kube-apiserver
Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/bin/kube-apiserver \
--logtostderr=true \
--v=0 \
--etcd_servers=http://${COREOS_PRIVATE_IPV4}:4001 \
--address=0.0.0.0 \
--allow_privileged=true \
--portal_net=10.254.0.0/16
ExecStartPost=-/bin/bash -c "until /usr/bin/curl http://127.0.0.1:8080; do echo \"waiting for API server to come online...\"; sleep 3; done"
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
