[Unit]
Description=Kubernetes Proxy
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
ConditionFileIsExecutable=/opt/bin/kube-proxy
Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStartPre=/opt/bin/wupiao ${K8S_MASTER_PRIVATE_IP} 8080
ExecStart=/opt/bin/kube-proxy \
--logtostderr=true \
--v=0 \
--master=${K8S_MASTER_PRIVATE_IP}:8080 
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
