[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
ConditionFileIsExecutable=/opt/bin/kube-controller-manager
Requires=etcd.service
Requires=docker.service
Requires=kube-apiserver.service
After=etcd.service
After=docker.service
After=kube-apiserver.service

[Service]
ExecStart=/opt/bin/kube-controller-manager \
--logtostderr=true \
--v=0 \
--master=127.0.0.1:8080 \
--machines=${MACHINES}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
