[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
ConditionFileIsExecutable=/opt/bin/kubelet
Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/opt/bin/kubelet \
--logtostderr=true \
--v=0 \
--api_servers=http://${K8S_MASTER_PRIVATE_IP}:8080 \
--address=0.0.0.0 \
--hostname_override=${COREOS_PRIVATE_IPV4} \
--allow_privileged=true \
--cluster_dns=10.254.0.10 \
--cluster_domain=kube.local
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
